//accents
$light-pink: #FDD9DB;
$light-teal: #5A908A;
$peach: #E8C991;
$dark-teal: #215D57;
$rose: #E28D93;

//primary colors
$dark-gray: #4d4d4d;
$light-gray: #f5f5f5;
$black: #181818;
$white: #fff;

