!!!
%html
  %head
    %title Let's talk about Serene
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")

  %body
    #wrapper
      #header
        %h1 Hi, I'm Serene!
 
      #content
        =yield
 
      #footer
        %p Get in touch with me!
